[submodule "libultraship"]
	path = libultraship
	url = https://github.com/roborich/libultraship.git
	branch = wasm-9.3.0
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
